<mat-card style="background-color:#424242">
    <mat-card-title >
        <button class="user-button" (click)="getUsersDetails()" mat-raised-button>UserList</button>
    </mat-card-title >

    <mat-card-content>
        <app-profile-details></app-profile-details>
    </mat-card-content>
</mat-card>
