<mat-card style="background-color:#424242">
    <mat-card-title style="color:#cddc39">
        Employee DashBoard
    </mat-card-title>

    <mat-card-content>
        <app-profile-details></app-profile-details>
    </mat-card-content>
</mat-card>