.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .example-form {
   width: auto;
 }
 
 .example-full-width {
   width: 100%;
 }
 .email-message{
   color:green;
   font-size:75%;
   margin-left:12px;
 }
 .image-view {
  border-radius: 50%;
  height: 90px;
  width: 90px;
}
.custom-error{
  font-size:75%;
  color:#f44336;
}
