<mat-toolbar class="mb-4" color="primary">
  <span>Registration Form</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>

<div class="container">
  <form  [formGroup]="registerDemo" method="POST" class="example-form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Firstname</mat-label>
      <input type="text" formControlName="firstname" matInput placeholder="Enter your firstname" required value="">
      <mat-error *ngIf="registerDemo.get('firstname').hasError('required')">FirstName is Required</mat-error>
      <mat-error *ngIf="registerDemo.get('firstname').hasError('pattern')">Enter proper name</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Lastname</mat-label>
      <input matInput type="text" formControlName="lastname" placeholder="Enter your lastname">
      <mat-error *ngIf="registerDemo.get('lastname').hasError('pattern')">Enter proper name</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput  type="email" (input)="validateUsername($event.target.value)" formControlName="email" placeholder="Enter your Email-Id"  required>
        <mat-error *ngIf="registerDemo.get('email').hasError('required')">Email is Required</mat-error>
        <mat-error *ngIf="registerDemo.get('email').hasError('pattern')">Enter proper Email-Id</mat-error>
      </mat-form-field>
      <div class="email-message">{{usernameError}}</div>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Mobile</mat-label>
        <input matInput type="number" formControlName="mobile" placeholder="Enter your Mobile number"  required>    
        <mat-error *ngIf="registerDemo.get('mobile').hasError('required')">Enter Mobile number</mat-error>
        <mat-error *ngIf="registerDemo.get('mobile').hasError('pattern')">Enter correct Mobile number</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Profession</mat-label>
      <mat-select formControlName="profession" required>
        <mat-option *ngFor="let prof of profession" [value]="prof">{{prof}}</mat-option>
      </mat-select>
      <mat-error *ngIf="registerDemo.get('profession').hasError('required')">Please choose your profession</mat-error>
    </mat-form-field>    
    
    <div  class="example-full-width mb-4">
      <mat-label style="font-size:15px;color:grey;">Upload Image</mat-label>
      <input class="mx-2" style="color:darkgray;" (change)="handleFileInput($event)" type="file" formControlName="image" />
    </div>    
    <div class="custom-error">{{fileError}}</div>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" placeholder="Enter your password"  required [type]="hide ? 'password' : 'text'">
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="registerDemo.get('password').hasError('required')">Enter Password</mat-error>
      <mat-error *ngIf="registerDemo.get('password').hasError('pattern')">Password should be of 6 digit and should have 1 uppercase,lowercase,special character and digit</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="confirmPassword" placeholder="Enter your password"  required [type]="confirmHide ? 'password' : 'text'">
      <button type="button" mat-icon-button matSuffix (click)="confirmHide = !confirmHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmHide">
        <mat-icon>{{confirmHide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>      
    </mat-form-field>
    <div class="custom-error" *ngIf="registerDemo.errors?.passwordMismatch && (registerDemo.get('confirmPassword').touched || registerDemo.get('confirmPassword').dirty)">Password doesn`t match</div>
    <div>
      <button type="submit" class="bg-primary" [disabled]="registerDemo.invalid || disableButton" mat-raised-button>Register</button>
    </div>
  </form>  
</div>
<ng4-loading-spinner [timeout]="3600000" [loadingText]=" loadingText || 'Please wait...'"></ng4-loading-spinner>
