.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.grey-background {
  background-color: #f2e9e9;
}
.green-text{
  color:green;
}

.custom-error{
  font-size:75%;
  color:#f44336;
}
.margin-10{
  margin:10% 0px;
}