<div class="modal-header">
  <mat-toolbar><span>Edit Details</span>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</mat-toolbar>
</div>
<form  [formGroup]="editDemo" method="POST" class="example-form" (ngSubmit)="submitProfileDetails()" enctype="multipart/form-data">
  <div class="modal-body">    
        <mat-form-field hidden appearance="outline" class="example-full-width mr-5">
          <input type="text" formControlName="id" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width mr-5">
          <mat-label>Firstname</mat-label>
          <input type="text" formControlName="firstname" matInput placeholder="Enter your firstname" required>
          <mat-error *ngIf="editDemo.get('firstname').hasError('required')">FirstName is Required</mat-error>
          <mat-error *ngIf="editDemo.get('firstname').hasError('pattern')">Enter proper name</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Lastname</mat-label>
          <input matInput type="text" formControlName="lastname" placeholder="Enter your lastname">
          <mat-error *ngIf="editDemo.get('lastname').hasError('required')">LastName is Required</mat-error>
          <mat-error *ngIf="editDemo.get('lastname').hasError('pattern')">Enter proper name</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput  type="email" (input)="validateUsername($event.target.value)" formControlName="email" placeholder="Enter your Email-Id"  required>
            <mat-error *ngIf="editDemo.get('email').hasError('required')">Email is Required</mat-error>
            <mat-error *ngIf="editDemo.get('email').hasError('pattern')">Enter proper Email-Id</mat-error>
          </mat-form-field>
          <div class="email-message">{{usernameError}}</div>
    
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Mobile</mat-label>
            <input matInput type="number" formControlName="mobile" placeholder="Enter your Mobile number"  required>    
            <mat-error *ngIf="editDemo.get('mobile').hasError('required')">Enter Mobile number</mat-error>
            <mat-error *ngIf="editDemo.get('mobile').hasError('pattern')">Enter correct Mobile number</mat-error>
        </mat-form-field>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="submit" class="btn btn-danger"  [disabled]="editDemo.invalid || disableButton">Save</button>
  </div>
</form>