@import '../node_modules/@angular/material/_theming.scss';
@include mat-core();

$my-primary: mat-palette($mat-purple, 700);
$my-accent: mat-palette($mat-pink, 700);
$my-theme:  mat-light-theme($my-primary, $my-accent);

@include angular-material-theme($my-theme);