<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" style="cursor:pointer" *ngIf="!(loginStatus$ | async) as LoginStatus" [routerLink]='["/"]'>AngularTestDemo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" *ngIf="!(loginStatus$ | async) as LoginStatus" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" style="cursor:pointer" *ngIf="LoginStatus" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" *ngIf="!(loginStatus$ | async) as LoginStatus" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" style="cursor:pointer" *ngIf="LoginStatus" [routerLink]='["/fetch-data"]'>Fetch data</a>
          </li>
          <li class="nav-item" *ngIf="!(loginStatus$ | async) as LoginStatus" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" style="cursor:pointer" *ngIf="LoginStatus" [routerLink]='["/register-form"]'>Register</a>
          </li>
          <li class="nav-item" *ngIf="(loginStatus$ | async) as LoginStatus" [routerLinkActive]='["link-active"]'>
            <a class="nav-link" style="font-size:13px;color:green;cursor:pointer" *ngIf="(userName$ | async) as Username"  [routerLink]="" (click)="redirectUser()">{{Username | uppercase}}</a>
          </li>
          <li class="nav-item" *ngIf="(loginStatus$ | async) as LoginStatus" [routerLinkActive]='["link-active"]'>
            <a class="btn btn-primary text-white" style="cursor:pointer" (click)="onLogout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
