.display-image{
    height:100%;
    width:35%;
}

.details-header{
    background: #bdbdbd;
    margin-bottom:3px;
}
.profile-color{
    background:#eeeeee ;
}

.align-details{
    margin-top:3%;
    font-size:20px;
    color:#2e7d32;
}

.display-image:hover{
    opacity:0.5 !important;
}
.align-icon:hover{
    display: block;
}
.align-icon{
    position: absolute;
    bottom:0%;
    outline: none;
    left: 13%;
    display: none;
}

.display-image:hover ~ .align-icon{
    display:block;
}

.custom-error{
    font-size:75%;
    color:#f44336;
  }
