<div >
  <mat-card class="profile-color">
    <div class="container">
      <mat-toolbar class="details-header mb-2">
        <span style="font-size:30px;">Profile Details</span>
      </mat-toolbar>
      <div class="row">
        <div class="col-md-5">
          <input #fileUpload type="file" (click)="fileUpload.value = null" (change)="importFile($event)" style="display:none"accept="image/*">
           <img id="profPic" class="ml-2 display-image"[src]="imageSrc"  alt="didn`t load"/>
            <button type="file" (click)="fileUpload.click()"(mouseout)="changeImageOpacity()" (mouseover)="changeCssProp()" class="align-icon" mat-icon-button>
              <mat-icon>photo_camera</mat-icon>
               <small>Edit Image</small>
            </button>                     
        </div>
        <div class="col-md-5">
          <p class="mt-5" style="text-align:left;font-size:35px;color:green">{{name}}</p>
        </div>
        <div class="col-md-2 mt-2">
          <button mat-raised-button class="mt-5 bg-success text-white" (click)="editDetails('focusFirst')" style="float:left">Edit Details</button>
        </div>
      </div>
      <span class="custom-error">{{fileError}}</span>
      <mat-card-content>
      <div class="row">
          <div style="text-align:right" class="col-md-4 align-details">UserId :</div>
          <div style="text-align:left" class="col-md-8 align-details">{{id}}</div>
      </div>
      <div class="row">
        <div style="text-align:right" class="col-md-4 align-details">Email :</div>
        <div style="text-align:left" class="col-md-8 align-details">{{email}}</div>
      </div>
      <div class="row">
        <div style="text-align:right" class="col-md-4 align-details">Mobile :</div>
        <div style="text-align:left" class="col-md-8 align-details">{{mobile}}</div>
      </div>
    </mat-card-content>
    </div>
</mat-card>
</div>